
testhidwrite/testhidWrite/Debug/hid.obj
testhidwrite/testhidWrite/Debug/main.obj
testhidwrite/testhidWrite/Debug/testhidWrite.Build.CppClean.log
testhidwrite/testhidWrite/Debug/testhidWrite.exe
testhidwrite/testhidWrite/Debug/testhidWrite.exp
testhidwrite/testhidWrite/Debug/testhidWrite.ilk
testhidwrite/testhidWrite/Debug/testhidWrite.lib
testhidwrite/testhidWrite/Debug/testhidWrite.log
testhidwrite/testhidWrite/Debug/testhidWrite.pdb
testhidwrite/testhidWrite/Debug/testhidWrite.tlog/cl.command.1.tlog
testhidwrite/testhidWrite/Debug/testhidWrite.tlog/CL.read.1.tlog
testhidwrite/testhidWrite/Debug/testhidWrite.tlog/CL.write.1.tlog
testhidwrite/testhidWrite/Debug/testhidWrite.tlog/link.command.1.tlog
testhidwrite/testhidWrite/Debug/testhidWrite.tlog/link.read.1.tlog
testhidwrite/testhidWrite/Debug/testhidWrite.tlog/link.write.1.tlog
testhidwrite/testhidWrite/Debug/testhidWrite.tlog/testhidWrite.lastbuildstate
testhidwrite/testhidWrite/Debug/testhidWrite.tlog/testhidWrite.write.1u.tlog
testhidwrite/testhidWrite/Debug/vc120.idb
testhidwrite/testhidWrite/Debug/vc120.pdb
testhidwrite/testhidWrite/testhidWrite.vcxproj.filters
testhidwrite/testhidWrite/testhidWrite.vcxproj
testhidwrite/testhidWrite/testhidWrite.v12.suo
